body {
  background-color: #000000; 
  color: #FFFFFF; 
  display: grid;
  place-items: center;
  height: auto; 
  margin: 0; 
}

.statisticDisplay {
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 3px solid #FFFFFF;
  font-size: 20px;
}


.wordsDisplay {
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #FFFFFF;
  font-size: 30px;
  width: 500px;
  height: 200px
}
